/* Base */
@font-face {
    font-family: 'Inter Variable';
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/inter:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/* Variables */
:root {
        /* fonts */
    --font-family: 'Inter Variable', sans-serif, system-ui, arial;
        /* Colors */
    --primary: #3b4550;
    --primary-dark: #0a3d66;
    --primary-hover: #0d5ba8;
    --primary-light: #09f;
    --background: #06182a;
    --text-primary: #ffffff;
    --text-secondary: #cbd5e1;
    --text-muted: #94a3b8;
    --border: rgba(255, 255, 255, 0.1);
    --card-bg: #1e293b;
    --shadow: rgba(0, 0, 0, 0.3);
    --input-bg: #1e293b;
    --hsla-example: hsla(210, 100%, 56%, 1);
    --green: #4caf50;
        /* Spacing */
    --border-radius: 0.75rem;
}

/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: transparent;
    font-family: inherit;
    text-align: inherit;
    color: inherit;
}

a {
    display: block;
    text-decoration: none;
    text-align: center;
    justify-items: center;
    flex-shrink: 0;
}

button, input, select, textarea {
    display: block;
    border: none;
    outline: none;
    box-shadow: none;
    flex-shrink: 0;
}

li {
    list-style: none;
}

h1 {
    font-size: 3rem;
    text-align: center;
}

/* Layout */
    /* Elements */
body {
    font-family: var(--font-family);
    background-color: var(--background);
    color: var(--text-primary);
    min-height: 100vh;

    &>header {
        width: 100%;
    }

    main>section {
        p, h1, h2, form, ul {
            max-width: 1280px;
        }
    }

    &>footer {
        padding: 3rem;
        border-top: solid 1px var(--border);
    }
}

/* Skins / Utility classes */
    /* Background Colors */
.bg-primary {
    background-color: var(--primary-light);
}

.bg-green {
    background-color: var(--green);
}

.bg-card {
    background-color: var(--card-bg);
}

.bg-dark {
    background-color: var(--primary-dark);
    color: var(--primary-light);
}

.bg-ultra-dark {
    background-color: var(--background);
}

    /* Text Colors */
.btn{
    min-height: 3rem;
    min-width: 3rem;
    height: 100%;
    width: auto;
    border-radius: var(--border-radius);
    padding: 1rem;
    text-align: center;
}

.hidden {
    display: none;
}

/* Accesability */
.screen-reader-only {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}

/* BEM */
    /* Main Header & Footer */
header.main-header {
    position: sticky;
    top: 0;
    /* margin-top: 5rem; */
    padding: 1rem 2rem;
    border-bottom: solid 1px var(--border);
    z-index: 2;

    h1.logo{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        font-size: 1.5rem;
        font-weight: 700;
    }

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        width: 100%;

        ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 2rem;
        }

        div {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: end;
            gap: 1rem;
        }
    }

    a:hover, a:focus {
        color: var(--primary-hover);
    }

    img.profile-pic {
        height: 64px;
        width: 64px;
        max-height: 64px;
        max-width: 64px;
        border-radius: 100%;
    }
}

footer.main-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    small {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: center;
        color: var(--text-muted);
    }
}
        /* Hero */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    position: relative;
    overflow: hidden;
    

    .hero__background {
        position: absolute;
        width: 100%;
        height: auto;
        object-fit: cover;
        z-index: -1;
        left: 0;
        top: 0;
        mask-image: linear-gradient(to bottom, rgba(16, 25, 34, 1) 0%, rgba(16, 25, 34, 0) 50%);
    }

    .hero__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
}

.heading-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 1rem;
}

section#por-que-devjobs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;

    header {
        text-align: center;
        margin-bottom: 2rem;
    }

    div.container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    article.container__card {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding: 2rem;
        border-radius: var(--border-radius);
        background-color: var(--card-bg);

        div {
            color: var(--primary-light);
            background-color: var(--primary-dark);
            padding: 1rem;
            border-radius: 100%;
        }

        p {
            text-align: center;
            color: var(--text-muted);
        }
    }
}

        /* Search Form */
.search-form {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1rem;
    margin: 0 1rem;

    &.search-form--bar {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 1rem;
        border-radius: var(--border-radius);

        div {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            width: 80%;
        }
    }

    .search-form__bar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        gap: 1rem;
        width: 100%;
        padding: 0.5rem 1rem;
        border: solid 1px var(--border);
        background-color: var(--input-bg);
        border-radius: var(--border-radius);
    }

    .search-form__input {
        border: none;
        outline: none;
        font-size: 1rem;
        width: 90%;
    }

    .search-form__button {
        /* width: auto; */
        color: var(--text-primary);
        border-radius: var(--border-radius);
        padding: 1rem;
        margin: -0.5rem;
    }
        
    .search-form__filters {
        /* width: 100%; */
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        gap: 1rem;

        .search-form__filters__item {
            flex-grow: 0;
            min-height: 3rem;
            min-width: 3rem;
            background-color: var(--primary);
            border-radius: var(--border-radius);
            padding: 1rem;

            select {
                background-color: inherit;
                border: none;
                outline: none;
            }
        }
    }
}

        /* Search Results */
.search-results-section { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    padding: 2rem 1rem;

    .search-results {
        display: grid;
        grid-template-columns: 1fr;
        border-collapse: collapse;
        border: solid 1px var(--border);
        border-radius: var(--border-radius);
        overflow: hidden;
        gap: 0;

        .search-result__item {
            border-bottom: solid 1px var(--border);
            padding: 2rem;
            width: 100%;

            article {
                display: flex;
                flex-direction: row;
                align-items: start;
                justify-content: space-between;
                gap: 4rem;

                .search-result__item__info {
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    justify-content: start;
                    gap: 1rem;

                    h1 {
                        font-size: 1.5rem;
                    }

                    span {
                        color: var(--text-secondary);
                        font-size: 0.875rem;
                    }
                }

                button.btn {
                    background-color: var(--primary-light);

                    &.is-applied {
                        background: var(--green);
                        pointer-events: none;
                    }
                }
            }

            &:last-child {
                border-bottom: none;
            }
        }
    }
}

/* Pagination */
.pagination {
    display: grid;
    grid-template-columns: repeat(7, 3rem);
    justify-content: center;

    gap: 0.5rem;

    .pagination__page:hover, .pagination__page:focus {
        background-color: white;
        color: var(--primary);
    }

    .pagination__page--current {
        background-color: var(--primary-light);
    }
}

.job {
    h2 {
        margin-top: 2rem;
    }

    .job__header {
        margin-top: 5rem;

        span {
            color: var(--text-muted);
            margin-top: 0.5rem;
        }
    }

    .job__path{
        margin-left: -2rem;
        color: var(--text-muted);

        span {
            color: var(--text-primary);
        }
    }

    .job__footer {
        padding-top: 2rem;
        border-top: solid 1px var(--border);

        button {
            margin-left: auto;
        }
    }
}